.App {
  display: flex;
  margin: 50px auto;
  justify-content: center;
  color: #FFF;
  line-height: 1.5;
}

h3 {
  margin: 10px 0 0;
  color: #ffffffb3;
}

p {
  color: #ffffffb3;
  font-size: 14px;
  margin: 0;
  padding: 10px 0 0;
}

img {
  max-width: 352px;
  height: 192px;
  object-fit: fill;
  /* height: auto; */
}

svg {
  font-size: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: #FFF;
  padding: 8px;
  width: 40px;
  height: 40px;
}

button:hover {
  background-color: #e77f67;
}

span {
  color: #FFF;
}

.rotate {
  transition: all 0.4s ease;
  transform: rotateZ(-180deg);
}

.card {
  background-color: #303952;
  border-radius: 10px;
  max-width: 352px;
  width: 100%;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}

.card__header,
.card__footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__header p {
  padding: 0;
}

.card__header-content,
.card__footer-icons {
  display: flex;
  align-items: center;
}

.card__header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e15f41;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 24px;
}

.card__content {
  padding: 16px;
}